
/* .oe_simple_date{
    min-height: 0px ! important;
}

th.oe_list_header_datetime{
    min-width: 128px ! important;
}

.oe_list_content th.oe_list_header_date {
    min-width: 250px ! important;
}

.oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_datepicker_master{
    width:40% ! importa nt;
}

.oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_datepicker_master.oe_simple_date{
    width:40% ! important;
} */

/* .calendars-month {
    width:50% !important;
} */

.calendars-month-year {
    width: 45% !important;
    display: inline-block !important;
}



/* 

.oe_simple_date{
    min-height: 1000px ! important;
}

th.oe_list_header_datetime{
    min-width: 1128px ! important;
}

.oe_list_content th.oe_list_header_date {
    min-width: 1250px ! important;
}

.oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_datepicker_master{
    width:90% ! important;
}

.oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_datepicker_master.oe_simple_date{
    width:40% ! important;
}

.calendars-month {
    width:96% !important;
}

.calendars-month-year {
    width: 10% !important;
    display: inline-block !important;
} */
