.certification-wrapper {
    height: 100%;
    width: 100%;
    border-style: dashed;
    height: 1000px;
    border-color: black;

    .certification {
        margin-left: 350px;
        padding-top: 140px;
        width: 510px;
        text-align: center;

        h2 {
            color: #876B81;
        }


    }
}

